:root {
    --color1: #05b1b1;
    --color2: #52339a;    
}

header {
    background: var(--color2);
    background: -moz-linear-gradient(left, var(--color2) 0%, var(--color1) 100%);
    background: -webkit-linear-gradient(left,  var(--color2) 0%,var(--color1) 100%);
    background: linear-gradient(to right,  var(--color2) 0%,var(--color1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color1),GradientType=1 );
    background-size: contain;
    padding: 15px;
}

.rad_icon {
    width: 60px;
    height: 60px;
    white-space: nowrap;
    float: left;
}

.header-main, .header-text {
    display: inline-block;
}

.header-main, .radmins-func {
    cursor: pointer;
}

.radmins-func {
    padding: 15px;
    float: right;
    text-align: right;
    background-color: var(--color2);
}

.radmins-func:hover {
    background-color: var(--color1);
}
