.stats-game h2 {
    padding: 0px;
    padding-top: 30px;
}

.stats-game h5 {
    padding: 10px;
    margin: 10px;
    border: 3px solid var(--color1);
}

.stats-wpn h2 {
    padding: 0px;
    padding-top: 40px;
}

.wpn-col {
    justify-content: center;
    display: flex;
    align-items: center;
    border-right: 3px solid var(--color1);
    padding: 5px;
}

.wpn-col-last {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px;
}

.wpn-col-header {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px;
}

.wpn-row {
    border: 3px solid var(--color1);
    margin: 10px;
    word-break: break-word;
}

.wpn-row-header {
    margin: 10px;
    word-break: break-word;
}

.back-btn {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
}
