.stats-player h2 {
    padding: 0px;
    padding-top: 30px;
}

.stats-player h5 {
    padding: 10px;
    margin: 10px;
    border: 3px solid var(--color1);
}

.btn-pdf {    
    display: block;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
}

.stats-games h2 {
    padding: 0px;
    padding-top: 40px;
}

.game-col {
    justify-content: center;
    display: flex;
    align-items: center;
    border-right: 3px solid var(--color1);
    padding: 5px;
}

.game-col-last {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px;
}

.game-col-header {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px;
}

.game-row {
    border: 3px solid var(--color1);
    margin: 10px;
    word-break: break-word;
}

.game-row:hover {
    background-color: var(--color2);
    color: var(--color1);
    cursor: pointer;
}

.game-row-header {
    margin: 10px;
    word-break: break-word;
}
