$body-color: #2d2d2d
$footer-background: #2c2c2c
$footer-text-color: #ffffff

html
  font-family: 'Lato Regular', sans-serif
  font-size: 2vh
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: auto
  letter-spacing: 0.1vh
  line-height: 3vh

body
  margin: 0

#load_screen
  display: flex
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: white
  color: #282e36
  font-size: 8vh
  justify-content: center
  align-content: center
  text-align: center
  opacity: 1
  z-index: 9999

.main
  margin: 3vh
  min-height: 76vh

.players_found
  font-family: 'Lato Bold', sans-serif
  font-size: 3vh
  letter-spacing: 0.2vh

nav
  display: flex

button
  display: flex
  background: white
  color: black
  padding: 1.2vh 1.5vh 1.2vh 1.5vh
  margin: 1vh
  border: 1px solid gray
  border-radius: 1vh
  font-family: 'Roboto', sans-serif
  font-size: 2vh
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.53)
  transition: 0.1s ease-in-out

  &:hover
    border: 1px solid #464646
    box-shadow: 3px 3px 6px rgba(128, 128, 128, 0.53)

  &:active
    color: white
    background: #000000
    box-shadow: 5px 5px 7px gray

.circle_button
  padding: 1vh
  width: 5vh
  height: 5vh
  border-radius: 50%
  cursor: default

.arrow_left
  img
    transform: translate(-10%, 0)
    width: 100%
    height: 100%
    justify-content: center
    align-content: center
    cursor: default
    user-select: none
    -moz-user-select: none
    -webkit-user-drag: none
    -webkit-user-select: none
    -ms-user-select: none

  &:active img
    filter: invert(100%)
    cursor: default

.arrow_right
  img
    transform: scaleX(-1) translate(-10%, 0)
    width: 100%
    height: 100%
    justify-content: center
    align-content: center
    cursor: default
    user-select: none
    -moz-user-select: none
    -webkit-user-drag: none
    -webkit-user-select: none
    -ms-user-select: none

  &:hover
    box-shadow: 3px 3px 6px rgba(128, 128, 128, 0.53)

  &:active
    box-shadow: 5px 5px 7px gray

  &:active img
    filter: invert(100%)
    cursor: default

.input_field
  height: 1vh
  padding: 1.5vh
  font-family: 'helvetica neue', sans-serif
  font-size: 2vh
  font-weight: normal
  color: black
  border: 1px solid gray
  border-radius: 1vh
  cursor: text
  margin: auto 1vh auto 1vh
  user-select: all

  &:hover
    color: #2d2d2d
    background: white
    border: 1px solid #464646
    box-shadow: 1px 1px 5px rgba(114, 114, 114, 0.5)

  &:focus
    color: #2d2d2d
    background: white
    border: 1px solid black
    box-shadow: 3px 3px 6px rgba(65, 65, 65, 0.5)

footer
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  bottom: 0
  height: 29%
  width: 100%
  background: -webkit-linear-gradient(top, $footer-background, #1e1e1e)
  background: -o-linear-gradient(top, $footer-background, #1e1e1e)
  color: $footer-text-color
  font-family: "helvetica neue", sans-serif
  font-size: 2vh
  margin: 10vh 0 0 0
  justify-content: center
  align-content: center
  align-items: center

  img
    width: 3vh
    height: 3vh
    padding: 1vh
    margin: 3vh
    filter: invert(90%)
    background: transparent
    border-radius: 50%
    transition: 0.3s ease-in-out

footer .href
  color: $footer-text-color
  text-decoration: none
  transition: 0.15s ease-in-out

  &:hover
    color: white
    font-size: 2.1vh

  &:hover img
    filter: invert(15%)
    background: $footer-text-color
    border-radius: 50%

.footer_option_list
  display: inline-flex
  width: 80%
  height: 7vh
  margin: 1vh 0 0 0
  justify-content: space-between
  align-content: center

.footer_line
  width: 70%
  height: 0.2vh
  background: -webkit-linear-gradient(left, $footer-background, #dedede, $footer-background)
  background: -o-linear-gradient(left, $footer-background, #dedede, $footer-background)
  margin: 1vh auto 1vh auto

.footer_desc
  color: #efefef
  text-align: center
  font-family: "Roboto Thin", sans-serif
  font-size: 1.8vh
  margin: 0
  padding: 0.3vh 0 1.7vh 0
  letter-spacing: 0.25vh